name: Send Diet Reminder
on:
  schedule:
    - cron: '0 10 * * *' # (The 30 is minutes, and 5 is the hour in UTC. $11:00 - 5:30 = 5:30$)
  workflow_dispatch:      # This gives you a "Manual Play" button!
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Run script
        env:
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
        run: python main.py 